.todo-card {
  padding: 2rem;
  width: 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: rgb(14, 14, 14);
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

mat-form-field {
  background-color: white;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}

.spacer {
  flex: 1 1 auto;
}
